//====================================================================================================
.page {

	// .page__main-block

	&__main-block {
		overflow: hidden;
		@media (min-width:$mobile){
			 display: flex; 
		}
		@media (max-width:$mobile){
			 display: flex;
			 flex-direction: column-reverse;; 
		}
	}
}
.main-block {

	// .main-block__container

	&__container {
		display: flex;
		align-items: center;
	}

	// .main-block__content

	&__content {
		// @include adaptiveValue("margin-top", 280, 115,1920,1024,1);
		// margin-right: -185px;
		flex: 0 0 100%; 
		//display: flex;
		@media (max-width:$mobile){
			 margin-top: -140px; 
		}
	}

	&__body {
		//padding: 50px 0px 50px 0px;
		@include adaptiveValue("padding-top", 280, 115,1920,1024,1);
		@media (min-width:$mobile){
			 //padding: 50px 20px 50px 0px;
			 width: 68%;
			 padding-right: 10px;
		}
		@media (max-width:$mobile){
			 padding: 0;
			 display: flex;
			 flex-direction: column;
		}
	}

	// .main-block__pretitle

	&__pretitle {
		font-weight: 500;
		@include adaptiveValue("font-size", 21, 15);
		line-height: 1.4;
		color: $maingreen;
		margin-bottom: 10px;
		order: 1;
	}

	// .main-block__title

	&__title {
		margin-bottom: 20px;
		@include adaptiveValue("font-size", 68, 29,1920,375,1);
		line-height: 1.2;
		@media (max-width:$mobile){
			 text-align: center; 
			 order: 0;
		}
	}

	// .main-block__text

	&__text {
		color: $maintext;
		@include adaptiveValue("font-size", 21, 16,1920,1024,1);
		line-height: 1.4;
		font-weight: 300;
		margin-bottom: 30px;
		@media (max-width:$tablet){
			margin-bottom: 20px;
		}
		@media (max-width:$mobile){
			order: 3;
			 span {
				display: none;
			 } 
		}
	}

	// .main-block__actions

	&__actions {
		white-space: nowrap;
		order: 4;
	}

	// .main-block__button

	&__button {
		padding-left: 107.94px;
		padding-right: 107.94px;
		margin-right: 24px;
		@media (max-width:$mobile){
			display: block;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
			text-align: center;
		}
	}

	&__tel {
		font-weight: 500;
		line-height: 1.5;
		font-size: rem(18);
		color: $maingreen;
		white-space: nowrap;
		@media (max-width:$mobile){
			 display: none; 
		}
	}

	// .main-block__img

	&__img {
		@media (max-width:$mobile){
			 transform: rotate(270deg) translate(120px, 0px) rotateX(180deg) scale(1.15);; 
		}
		@media (min-width:$mobile){
		position: relative;
		//flex: 0 0 calc(((100vw - 32px) * 0.32) + 16px);
		padding: 0 0 47.969% 0;
		transform: translate(-100%, 0px);
		}
		// flex: 0 0 percent(950, 1920);
		
		img {
			max-width: 100%;
			@media (min-width:$mobile){
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover; 
			}
		}
		flex: 0 0 calc(50vw - 10px);
		@media (min-width:1212px){
			//flex: 0 0 calc(50vw - (0.68 - 0.5) * 1180px);
			
		}
	}
}


//======SITE==============================================================================================

.page {

	// .page__site

	&__site {
		background: url('../img/main/bg1.png') top / cover no-repeat;
		//background-size: auto;
		@include adaptiveValue("margin-top", -100,40,1920,375,1 );
	}
}
.site {

	// .site__container

	&__container {
		display: flex;
		align-items: center;
		//padding-top: 207px;
		//padding-bottom: 207px;
		@include adaptiveValue("padding-top", 207, 100,1920,375,1);
		@include adaptiveValue("padding-bottom", 207, 100,1920,375,1);
		//column-gap: rem(140);
		//flex-wrap: wrap;
		@media (max-width:$mobile){
			 flex-direction: column;
			 gap: rem(16);
		}
	}

	// .site__name

	&__name {
		@include adaptiveValue("font-size", 65, 40,1920,375,1);
		line-height: 1.4;
		color: $maingreen;
		margin-right: 50px;
		span {
			color: $mainColor;
		}
		@media (max-width:$mobile){
			 line-height: 1.1; 
		}
	}

	// .site__link

	&__link {
	}

	// .site__text

	&__text {
		font-weight: 300;
		line-height: 1.4;
		@include adaptiveValue("font-size", 30, 16,1920,375,1);
		padding-right: 290px;
		@media (max-width:$mobile){
			 padding-right: 0;
			 text-align: center;
		}
	}
}

/*========SORT==========*/

.page {

	// .page__sort

	&__sort {
	}
}
.sort {

	// .sort__container

	&__container {
		display:grid;
		align-items:center;
		grid-auto-flow: column;
		grid-template-columns: (percent(541,1180) 1fr);
		@media (max-width:$mobile){
			 display: block; 
		}
	}

	// .sort__picture

	&__picture {
		
	}

	// .sort__cirkle

	&__cirkle {
		position: relative;
		border-radius: 50%;
		width: percent(460,541);
		padding-bottom: percent(460,541);
		background: linear-gradient(203.14deg, #FECB25 12.48%, #E8AB0F 87.29%);
		@media (max-width:$mobile){
			 margin: 0 auto; 
		}
	}

	// .sort__item

	&__item {
		position:absolute;
		width: 71%;
		//space-wrap:no-wrap;
		background:rgb(255, 255, 255);
		//padding: 0px 50px 30px 50px;
		box-shadow: 0px -20px 40px rgba(206, 206, 206, 0.21), -16px 35px 60px rgba(143, 105, 69, 0.2);
		border-radius: 5px;
		@include adaptiveValue("padding-left", 50, 25,1920,1024,1);
		@include adaptiveValue("padding-right", 50, 25,1920,1024,1);
		@include adaptiveValue("padding-bottom", 30, 17,1920,1024,1);
		&_one {
			left: 0;
			bottom: -12%;
			@media (max-width:$mobile){
				 bottom: -6%; 
			}
		}

		&_two {
			top: -5%;
			right: -10%;
		}
	}

	// .sort__body

	&__body {
		text-align: center;
	}

	// .sort__img

	&__img {
		transform: translateY(-20%);
		img {
			max-width: 100%;
			height: auto;
		}
	}

	// .sort__title

	&__title {
		margin-top: -20px;
		font-weight: 500;
		line-height: 1.4;
		@include adaptiveValue("font-size", 25, 13,1920,1024,1);
	}

	// .sort__cost

	&__cost {
		span {
			font-weight: 300;
		}
		@include adaptiveValue("font-size", 18, 9,1920,1024,1);
		line-height: 1.4;
	}

	// .sort__content

	&__content {
		@media (max-width:$mobile){
			 margin-top: rem(50); 
		}
	}
}
.content-sort {
	& > *:not(:last-child) {
		margin-bottom: rem(20);
	}
	// .content-sort__title

	&__title {
		@include adaptiveValue("font-size", 45, 26,1920,375,1);
		line-height: 1.3;
		text-align: center;
		}

	// .content-sort__subtitle

	&__subtitle {
		color:$maingreen;
		line-height: 1.4;
		@include adaptiveValue("font-size", 21, 18);
	}

	// .content-sort__text

	&__text {
		font-weight: 300;
		@include adaptiveValue("font-size", 21, 16);
		line-height: 1.4;
		p {
			margin-top: 10px;
		}
	}

	// .content-sort__button

	&__button {
		@include adaptiveValue("padding-left", 50, 40,1920,1024,1);
		@include adaptiveValue("padding-right", 50, 40,1920,1024,1);
		@media (max-width:$mobile){
		 width: 100%; 
	}
	}
	
}


/*===========PRODUCTS================*/

.page {

	// .page__products

	&__products {
		position: relative;
		background: url('../img/main/bg1.png') top / cover no-repeat;
		transform:rotate(180deg);
		margin-top: 30px;
		@media (max-width:$tablet){
			transform: rotate(360deg);
		}
		@media (max-width:$mobile){
			 margin-top: -70px;
			 padding: 90px 0px; 
		}
		&::before{
			content:'';
			position: absolute;
			width: 380px;
			height: 527px;
			height: 527px;
			bottom: 55px;
			transform: rotate(180deg);
			right: 0;
			background: url('../img/main/product-bg1.png') top / auto no-repeat;
			@media (max-width:$tablet){
				display: none;
			}
		}
		&::after{
			content:'';
			position: absolute;
			width: 327px;
			height: 457px;
			top: 56px;
			left: 0;
			transform: rotate(180deg);
			background: url('../img/main/product-bg2.png') top / auto no-repeat;
			@media (max-width:$tablet){
				display: none;
			}
		}
	}
}
.products {

	// .products__container

	&__container {
		transform:rotate(180deg);
		@include adaptiveValue("padding-top", 207, 100,1920,375,1);
		@include adaptiveValue("padding-bottom", 207, 100,1920,375,1);
		@media (max-width:$tablet){
			transform: rotate(360deg);
		}
	}

	// .products__title

	&__title {
		text-align: center;
		@include adaptiveValue("font-size", 60, 29,1920,375,1);
		line-height: 1.4;
	}

	&__grid {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__line {
		display: flex;
		padding: 0px 110px;
		gap: rem(20);
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		@media (max-width:$mobile){
			 flex-direction: column;
			 padding: 0;
		}
	}
	// .products__items

	&__items {
		//flex-wrap: wrap;
		margin-top: 50px;
		margin-bottom: 20px;
		//display: flex;
		//gap: rem(20);
		//padding: 0px 100px;
		@media (max-width:$tablet){
			padding: 0;
		}
		@media (max-width:$mobile){
			 flex-direction: column; 
		}
	}

	// .products__item

	&__item {
		position: relative;
		flex: 0 0 50%;
		box-shadow: -30px -30px 60px rgba(251, 251, 251, 0.42), -4px 5px 60px rgba(160, 153, 133, 0.1);
		border-radius: 3px;
		padding: 30px 40px;
		background-color: #ffffff;
		
		@media (max-width:$tablet){
			padding: 30px;
		}
		@media (max-width:$mobile){
			 padding: 16px; 
		}
	}

	&__more {
		background: transparent;
		color: $maingreen;
		border: 1px solid #219653;
		padding-left: 78.5px;
		padding-right: 78.5px;
		margin: 0 auto;
		@media (max-width:$mobile){
			 width: 100%; 
		}
	}
}
.product {

	// .product__info

	&__info {
		position: relative;
		display: flex;
		justify-content: flex-end;
		
	}

	// .product__link

	&__link {
		position: absolute;
		width: 7.5%;
		img {
			max-width: 100%;
			height: auto;
		}
	}

	// .product__img

	&__img {
		display: flex;
		justify-content: center;
		@include adaptiveValue("height", 160, 128,1920,1024,1);
		img {
			max-width: 100%;
			height: auto;
		}
	}

	// .product__title

	&__title {
		font-weight: 500;
		white-space: nowrap;
		@include adaptiveValue("font-size", 30, 21,1920,375,1);
		line-height: 1.4;
		text-align: center;
		margin: 16px 0px;
		margin-bottom: 50px;
	}

	// .product__range-body

	&__range-body {
	}

	// .product__range

	&__range {
	}

	// .product__data-from

	&__data-from {
	}

	// .product__cost

	&__cost {
		display: flex;
		justify-content: center;
		font-weight: 500;
		@include adaptiveValue("font-size", 35, 21,1920,375,1);
		line-height: 1.4;
		margin: 20px 0px;
	}

	// .product__decimal

	&__decimal {
	}

	// .product__znak

	&__znak {
		margin-left: 10px;
	}

	// .product__subtitle

	&__subtitle {
		font-weight: 300;
		text-align: center;
		@include adaptiveValue("font-size", 14, 12,1920,375,1);
		line-height: 1.4;
		color:$maintext
	}

	// .product__bottom

	&__bottom {
		margin-top: 25px;
		display: flex;
		align-items: center;
		gap: 20px;
		@media (max-width:$mobile){
			 justify-content: center; 
		}
	}

	// .product__button

	&__button {
		@include adaptiveValue("padding-left", 65.5, 24.5,1920,1024,1);
		@include adaptiveValue("padding-right", 65.5, 24.5,1920,1024,1);
		@media (max-width:$mobile){
			 padding-left: 31.5px;
			 padding-right: 31.5px; 
		}
	}

	// .product__button-cost

	&__button-cost {
		@include adaptiveValue("font-size", 18, 16,1920,375,1);
		span {
			//margin-left: 8px;
			font-weight: 300;
			color: $maintext;
		}
	}
}

/*===============ORDER=========*/

.page {

	// .page__order

	&__order {
		margin-top: -50px;
	}
}
.order {

	// .order__container

	&__container {
		
	}

	// .order__title

	&__title {
		text-align: center;
		margin-bottom: 30px;
		@include adaptiveValue("font-size", 60, 29,1920,375,1);
		line-height: 1.4;
	}

	// .order__body

	&__body {
	}

	// .order__item

	&__item {
		position: relative;
		margin-bottom: 20px;
		display: flex;
		@include adaptiveValue("gap", 36.75, 0,1920,1100,1);
		align-items: center;
		padding: 0px 100px;
		@media (max-width:$tablet){
			flex-direction: row-reverse;
		}
		@media (max-width:$mobile){
			 display: block;
			 padding: 0;
		}
		// .order__item_imgr

		&_imgr {
		}

		// .order__item_imgl

		&_imgl {
			flex-direction: row-reverse;
		}
	}

	// .order__content

	&__content {
		box-shadow: 34px 37px 80px rgba(219, 219, 219, 0.21), 0px -3px 40px rgba(237, 236, 234, 0.21);
		border-radius: 3px;
		padding: 40px 50px 40px 50px;
		background: white;
		z-index: 2;
		@media (max-width:$mobile){
			 padding: 20px 16px 30px 16px;
			 
		}
	}

	// .order__img

	&__img {
		flex: 0 0 percent(361.75,980);
		img {
			max-width: 100%;
			height: auto;
		}
		@media (max-width:$tablet){
			flex: 0 0 43.182%;
			position: absolute;
			left: -20px;
			top: -50px;
		}
		@media (max-width:$mobile){
			 display: none; 
		}
	}
}
.content-order {

	// .content-order__title

	&__title {
		@include adaptiveValue("font-size", 35, 21,1920,375,1);
		line-height: 1.4;
		text-align: center;
		margin-bottom: 30px;
	}

	// .content-order__item-top

	&__item-top {
		//display: grid;
		position: relative;
		z-index: 1;
		background: white;
		//grid-template-columns: 1fr 440px;
		margin-bottom: 20px;
		border-bottom: 1px solid #eee;
		@media (max-width:$mobile){
			//grid-template-columns: 1fr 89.715%;
		}
	}

	// .content-order__pointsimg

	&__pointsimg {
		position: relative;
		//top: 2.44%;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border: 3px solid #219653;
		margin-top: 7px;
		z-index: 4;
		background: white;
	}


	// .content-order__text

	&__text {
		position: relative;
		display: flex;
		
		&::before{
				content:'';
				position: absolute;
				flex: 0 0 16px;
				width: 16px;
				height: 16px;
				border-radius: 50%;
				border: 3px solid $maingreen;
				top: 10px;
				background-color: white;
			}
		&:not(:last-child) {
			
			&::after{
				content:'';
				position: absolute;
				height: 100%;
				width: 2px;
				background-color: #eee;
				top: 16px;
				z-index: -1;
				left: 7px;
				
				@media (max-width:$mobile){
					//position: relative;
					
				}
			}
		}
	}

	// .content-order__point

	&__point {
		margin-bottom: 20px;
		padding-left: 37px;
	}

	&__pretitle {
		@include adaptiveValue("font-size", 21, 16,1920,375,1);
		line-height: 1.4;
		margin-bottom: 8px;
	}
	// .content-order__subtitle

	&__subtitle {
		@include adaptiveValue("font-size", 18, 16,1920,375,1);
		font-weight: 300;
		line-height: 1.4;
		color: $maintext;
		
	}

	// .content-order__item-bottom

	&__item-bottom {
		display: flex;
		//grid-template-columns: 1fr 440px;
		@media (max-width:$mobile){
			grid-template-columns: 1fr 89.715%;
		}
	}

	// .content-order__info-img

	&__info-img {
		padding-right: 18px;
		margin-top: 3px;
	}

	// .content-order__note

	&__note {
		@include adaptiveValue("font-size", 18, 16,1920,375,1);
		line-height: 1.4;
		font-weight: 300;
		color: $maintext;
		span {
			color: $maingreen;
		}
	}
}

