//====================================================================================================
.page {

	// .page__main-block

	&__main-block {
		overflow: hidden;
		@media (min-width:$mobile){
			 display: flex; 
		}
		@media (max-width:$mobile){
			 display: flex;
			 flex-direction: column-reverse;; 
		}
	}
}
.main-block {

	// .main-block__container

	&__container {
		display: flex;
		align-items: center;
	}

	// .main-block__content

	&__content {
		// @include adaptiveValue("margin-top", 280, 115,1920,1024,1);
		// margin-right: -185px;
		flex: 0 0 100%; 
		//display: flex;
		@media (max-width:$mobile){
			 margin-top: -140px; 
		}
	}

	&__body {
		//padding: 50px 0px 50px 0px;
		@include adaptiveValue("padding-top", 280, 115,1920,1024,1);
		@media (min-width:$mobile){
			 //padding: 50px 20px 50px 0px;
			 width: 68%;
			 padding-right: 10px;
		}
		@media (max-width:$mobile){
			 padding: 0; 
		}
	}

	// .main-block__pretitle

	&__pretitle {
		font-weight: 500;
		@include adaptiveValue("font-size", 21, 15);
		line-height: 1.4;
		color: $maingreen;
		margin-bottom: 10px;
	}

	// .main-block__title

	&__title {
		margin-bottom: 20px;
		@include adaptiveValue("font-size", 68, 29,1920,375,1);
		line-height: 1.2;
	}

	// .main-block__text

	&__text {
		color: $maintext;
		@include adaptiveValue("font-size", 21, 16,1920,1024,1);
		line-height: 1.4;
		font-weight: 300;
		margin-bottom: 30px;
		@media (max-width:$tablet){
			margin-bottom: 20px;
		}
		@media (max-width:$mobile){
			 span {
				display: none;
			 } 
		}
	}

	// .main-block__actions

	&__actions {
	}

	// .main-block__button

	&__button {
		padding-left: 107.94px;
		padding-right: 107.94px;
		margin-right: 24px;
		@media (max-width:$mobile){
			display: block;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
			text-align: center;
		}
	}

	&__tel {
		font-weight: 500;
		line-height: 1.5;
		font-size: rem(18);
		color: $maingreen;
		@media (max-width:$mobile){
			 display: none; 
		}
	}

	// .main-block__img

	&__img {
		@media (max-width:$mobile){
			 transform: rotate(270deg) translate(120px, 0px) rotateX(180deg) scale(1.15);; 
		}
		@media (min-width:$mobile){
		position: relative;
		//flex: 0 0 calc(((100vw - 32px) * 0.32) + 16px);
		padding: 0 0 47.969% 0;
		transform: translate(-100%, 0px);
		}
		// flex: 0 0 percent(950, 1920);
		
		img {
			max-width: 100%;
			@media (min-width:$mobile){
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover; 
			}
		}
		flex: 0 0 calc(50vw - 10px);
		@media (min-width:1212px){
			//flex: 0 0 calc(50vw - (0.68 - 0.5) * 1180px);
			
		}
	}
}


//======SITE==============================================================================================

.page {

	// .page__site

	&__site {
		background: url('../img/main/bg1.png') top / cover no-repeat;
		//background-size: auto;
		@include adaptiveValue("margin-top", -100,40,1920,375,1 );
	}
}
.site {

	// .site__container

	&__container {
		display: flex;
		align-items: center;
		//padding-top: 207px;
		//padding-bottom: 207px;
		@include adaptiveValue("padding-top", 207, 100,1920,375,1);
		@include adaptiveValue("padding-bottom", 207, 100,1920,375,1);
		//column-gap: rem(140);
		//flex-wrap: wrap;
		@media (max-width:$mobile){
			 flex-direction: column;
			 gap: rem(16);
		}
	}

	// .site__name

	&__name {
		@include adaptiveValue("font-size", 65, 40,1920,375,1);
		line-height: 1.4;
		color: $maingreen;
		margin-right: 50px;
		span {
			color: $mainColor;
		}
		@media (max-width:$mobile){
			 line-height: 1.1; 
		}
	}

	// .site__link

	&__link {
	}

	// .site__text

	&__text {
		font-weight: 300;
		line-height: 1.4;
		@include adaptiveValue("font-size", 30, 16,1920,375,1);
		padding-right: 290px;
		@media (max-width:$mobile){
			 padding-right: 0;
			 text-align: center;
		}
	}
}

